{include="header-2"}
<div class="wrapper">
	<div class="bread">
		<div class="breadCrumb alterar">
			<span>
				<i class="fa fa-home"></i>
				<a rel="nofollow" href="/criar-curriculo" title="Criar currículo">Criar currículo</a>
				<i class="fa fa-angle-double-right"></i>
				<a rel="nofollow" href="/experiencias" title="Criar currículo"><span class="title-page">Experiencia</span></a>
				<i class="fa fa-angle-double-right"></i>
				<p>Alterar Experiencia</p>
			</span>
		</div>
		<div class="bread-title">
			<h1>Alterar Habilidade</h1>
		</div>
	</div>

	<br class="clear">
	<br class="clear">
	
	<div class="cad-dados-pessoas">
		<form action="/experiencias-up/{$retornaExperiencia.id_experiencias}" method="post" class="form-expe">
		  	<div class="form-group">
			    <label for="empresa_experiencias">Nome da Empresa</label>
			    <input type="text" class="form-control" id="empresa_experiencias" value="{$empresa_experiencias}" name="empresa_experiencias" required autofocus>
		  	</div>
		  	<div class="form-group">
			    <label for="cargo_experiencias">Cargo ocupado</label>
			    <input type="text" class="form-control" id="cargo_experiencias" value="{$cargo_experiencias}" name="cargo_experiencias" required>
		  	</div>
		  	<div class="form-group">
			    <label for="inicio_experiencias">Início da experiência</label>
			    <input type="date" class="form-control" id="inicio_experiencias" value="{$retornaExperiencia.inicio_experiencias}" name="inicio_experiencias" required>
		  	</div>
		  	<div class="form-group">
			    <label for="fim_experiencias">Fim da experiência <span>(não obrigatório)</span></label>
			    <input type="date" class="form-control" id="fim_experiencias" value="{$retornaExperiencia.fim_experiencias}" name="fim_experiencias">
			</div>

			    <br class="clear">

		  	<button type="submit" class="btn btn-primary">Alterar</button>
		</form>
	</div>
</div>
{include="footer-2"}