{include="header-2"}
<div class="wrapper">
	<div class="bread">
		<div class="breadCrumb alterar">
			<span>
				<i class="fa fa-home"></i>
				<a rel="nofollow" href="/criar-curriculo" title="Criar currículo">Criar currículo</a>
				<i class="fa fa-angle-double-right"></i>
				<a rel="nofollow" href="/habilidades" title="Criar currículo"><span class="title-page">Habilidades</span></a>
				<i class="fa fa-angle-double-right"></i>
				<span class="title-page">Alterar Habilidade</span>
			</span>
		</div>
		<div class="bread-title">
			<h1>Alterar Habilidade</h1>
		</div>
	</div>

	<br class="clear">
	<br class="clear">
	
	<div class="cad-dados-pessoas">
		<form action="/habilidades-up/{$habilidade.id_habilidades}" method="post">
		  	<div class="form-group">
			    <label for="habilidade">Habilidades</label>
			    <input type="text" class="form-control" value="{$habilidade.habilidade}" id="habilidade" name="habilidade">
		  	</div>
		  	<!-- <div class="form-group">
			    <label for="tb_habilidadescol">Nascionalidade</label>
			    <input type="text" class="form-control" id="tb_habilidadescol" name="tb_habilidadescol">
		  	</div> -->

		  	<button type="submit" class="btn btn-primary">Alterar</button>
		</form>
	</div>
</div>
{include="footer-2"}