{include="topo-inicio"}

	<div class="wrapper">
		<div class="bread">
			<div class="breadCrumb">
				<span> <i class="fa fa-home"></i> <a rel="nofollow" href="/" title="Home">Home</a> <i class="fa fa-angle-double-right"></i> <span class="title-page">Como funciona</span></span>
			</div>
			<div class="bread-title">
				<h1>Como funciona</h1>
			</div>
		</div>
	</div>

	<div class="card-dark">
		<div class="wrapper">
			<h2 class="text-center">Dados Pessoais</h2>
			<div class="grid">
				<div class="row">
					<div class="col-3">
						<img src="/res/img/criar-curriculo/dados-pessoais.jpg" alt="Dados Pessoais" title="Dados Pessoais">
					</div>
					<div class="col-9">
						<p class="text-center">Campos onde vc irá inserir seu nome, data de nascimento, estado civil</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br class="clear">

	<div class="card-white">
		<div class="wrapper">
			<h2 class="text-center">Endereço</h2>
			<div class="grid">
				<div class="row">
					<div class="col-9">
						<p></p>
					</div>
					<div class="col-3">
						<img src="/res/img/criar-curriculo/endereco.jpg" alt="Endereço" title="Endereço">
					</div>
				</div>
			</div>
		</div>
	</div>

	<br class="clear">

	<div class="card-dark">
		<div class="wrapper">
			<h2 class="text-center">Telefone</h2>
			<div class="grid">
				<div class="row">
					<div class="col-3">
						<img src="/res/img/criar-curriculo/telefone.jpg" alt="Telefone" title="Telefone">
					</div>
					<div class="col-9">
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<br class="clear">

	<div class="card-white">
		<div class="wrapper">
			<h2 class="text-center">Nascionalidade</h2>
			<div class="grid">
				<div class="row">
					<div class="col-9">
						
					</div>
					<div class="col-3">
						<img src="/res/img/criar-curriculo/nascionalidade.jpg" alt="Nascionalidade" title="Nascionalidade">
					</div>
				</div>
			</div>
		</div>
	</div>

	<br class="clear">

	<div class="card-dark">
		<div class="wrapper">
			<h2 class="text-center">Habilidades</h2>
			<div class="grid">
				<div class="row">
					<div class="col-3">
						<img src="/res/img/criar-curriculo/habilidades.png" alt="Habilidades" title="Habilidades">
					</div>
					<div class="col-9">
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<br class="clear">

	<div class="card-white">
		<div class="wrapper">
			<h2 class="text-center">Área de Interesse</h2>
			<div class="grid">
				<div class="row">
					<div class="col-9">
						
					</div>
					<div class="col-3">
						<img src="/res/img/criar-curriculo/area-interesse.jpg" alt="Área de Interesse" title="Área de Interesse">
					</div>
				</div>
			</div>
		</div>
	</div>

	<br class="clear">

	<div class="card-dark">
		<div class="wrapper">
			<h2 class="text-center">Formação Academica</h2>
			<div class="grid">
				<div class="row">
					<div class="col-3">
						<img src="/res/img/criar-curriculo/formacao-academica.jpg" alt="Formação Academica" title="Formação Academica">
					</div>
					<div class="col-9">
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<br class="clear">

	<div class="card-white">
		<div class="wrapper">
			<h2 class="text-center">Experiências</h2>
			<div class="grid">
				<div class="row">
					<div class="col-9">
						
					</div>
					<div class="col-3">
						<img src="/res/img/criar-curriculo/experiencias-02.jpg" alt="Experiências" title="Experiências">
					</div>
				</div>
			</div>
		</div>
	</div>
		
{include="footer-inicio"}