<div class="tabContainer">
	<div class="buttonContainer">
		<button onclick="showPanel(0, '#f44336')">Dados pessoais</button>
		<button onclick="showPanel(1, '#f4cf50')">Tab 2</button>
		<button onclick="showPanel(2, '#f2196f')">Tab 3</button>
		<button onclick="showPanel(3, '#ff5722')">Tab 4</button>
	</div>
	<div class="tabPanel">
		{include="dados-pessoa"}
		<!-- {include=$dados-pessoa} -->
	</div>
	<div class="tabPanel">Tab 2:Content</div>
	<div class="tabPanel">Tab 3:Content</div>
	<div class="tabPanel">Tab 4:Content</div>
</div>