<div class="wrapper">

	{if="$getMessageDadosPessoaisError != ''"}
		<script>
			swal({
				title: "Algo não está certo!",
			  	text: '{$getMessageDadosPessoaisError}',
			  	icon: "error",
			});
		</script>
	{/if}

	{if="$getMessageDadosPessoaisErrorNome != ''"}
		<script>
			swal({
				title: "Algo não está certo!",
			  	text: '{$getMessageDadosPessoaisErrorNome}',
			  	icon: "error",
			});
		</script>
	{/if}

	{if="$getMessageDadosPessoaisErrorSobreNome != ''"}
		<script>
			swal({
				title: "Algo não está certo!",
			  	text: '{$getMessageDadosPessoaisErrorSobreNome}',
			  	icon: "error",
			});
		</script>
	{/if}

	{if="$getMessageDadosPessoaisErrorSexoPessoa != ''"}
		<script>
			swal({
				title: "Algo não está certo!",
			  	text: '{$getMessageDadosPessoaisErrorSexoPessoa}',
			  	icon: "error",
			});
		</script>
	{/if}

	{if="$getMessageDadosPessoaisErrorEstadoCivil != ''"}
		<script>
			swal({
				title: "Algo não está certo!",
			  	text: '{$getMessageDadosPessoaisErrorEstadoCivil}',
			  	icon: "error",
			});
		</script>
	{/if}

	{if="$getMessageDadosPessoaisErrorAlterar != ''"}
		<script>
			swal({
				title: "Algo não está certo!",
			  	text: '{$getMessageDadosPessoaisErrorAlterar}',
			  	icon: "error",
			});
		</script>
	{/if}

	<div class="bread">
		<div class="breadCrumb">
			<span> <i class="fa fa-home"></i> <a rel="nofollow" href="/criar-curriculo" title="Criar currículo"><p>Criar currículo</p></a> <i class="fa fa-angle-double-right"></i> <p>Dados Pessoais</p></span>
		</div>
		<div class="bread-title">
			<h1>Dados Pessoais</h1>
		</div>
	</div>
	<br class="clear">
	<br class="clear">

	{if="$dadosP['id_usuario'] == $iduser && $dadosP !== NULL"}
	<div class="cad-dados-pessoas">
		<form role="form" action="/dados-pessoais/up" method="post">
		  	<div class="form-group">
			    <label for="nomepessoa">Nome</label>
			    <input type="text" class="form-control" value="{$dadosP.nomepessoa}" id="nomepessoa" name="nomepessoa" required autofocus>
		  	</div>
		  	<div class="form-group">
			    <label for="sobrenomepessoa">Sobrenome</label>
			    <input type="text" class="form-control" value="{$dadosP.sobrenomepessoa}" id="sobrenomepessoa" name="sobrenomepessoa" required>
		  	</div>
		  	<div class="form-check">
		  		{if="$dadosP['sexopessoa'] === 'M'"}
	  				<input class="form-check-input" type="radio" name="sexopessoa" checked id="sexopessoa" value="M">
	  			{else}
	  				<input class="form-check-input" type="radio" name="sexopessoa" id="sexopessoa" value="M">
	  			{/if}
		  	<label class="form-check-label" for="exampleRadios1">
		    	Masculino
		  	</label>
			</div>
			<div class="form-check">
		  		{if="$dadosP['sexopessoa'] === 'F'"}
					<input class="form-check-input" type="radio" name="sexopessoa" checked id="sexopessoa" value="F">
	  			{else}
	  				<input class="form-check-input" type="radio" name="sexopessoa" id="sexopessoa" value="F">
	  			{/if}
				<label class="form-check-label" for="exampleRadios2">
		    		Feminino
		  		</label>
			</div>
		  	<div class="form-group">
			    <label for="datanascimentopessoa">Data de nascimentos</label>
			    <input type="date" class="form-control" value="{$dadosP.datanascimentopessoa}" id="datanascimentopessoa" name="datanascimentopessoa" required>
		  	</div>

		  	<div class="form-group">
			    <label for="estado_civil">Estado civil</label>

		  		<br class="clear">

			  	{if="$dadosP['sexopessoa'] === 'M'"}
				  	<select name="estado_civil" id="estado_civil" required>
				  		{if="$dadosP['estado_civil'] === ''"}
				  			<option selected>Selecione</option>
				  		{else}
				  			<option >Selecione</option>
				  		{/if}
				  		{if="$dadosP['estado_civil'] === 'Solteiro' or $dadosP['estado_civil'] === 'Solteira'"}
				  			<option value="Solteiro" selected>Solteiro</option>
				  		{else}
				  			<option value="Solteiro">Solteiro</option>
				  		{/if}
				  		{if="$dadosP['estado_civil'] === 'Casado' or $dadosP['estado_civil'] === 'Casada'"}
				  			<option value="Casado" selected>Casado</option>
				  		{else}
				  			<option value="Casado">Casado</option>
				  		{/if}
				  		{if="$dadosP['estado_civil'] === 'Viuvo' or $dadosP['estado_civil'] === 'Viuva'"}
				  			<option value="Viuvo" selected>Viuvo</option>
				  		{else}
				  			<option value="Viuvo">Viuvo</option>
				  		{/if}
				  	</select>
			  	{elseif="$dadosP['sexopessoa'] === 'F'"}
				  	<select name="estado_civil" id="estado_civil" required>
				  		{if="$dadosP['estado_civil'] === ''"}
				  			<option selected>Selecione</option>
				  		{else}
				  			<option >Selecione</option>
				  		{/if}
				  		{if="$dadosP['estado_civil'] === 'Solteira' or $dadosP['estado_civil'] === 'Solteiro'"}
				  			<option value="Solteira" selected>Solteira</option>
				  		{else}
				  			<option value="Solteira">Solteira</option>
				  		{/if}
				  		{if="$dadosP['estado_civil'] === 'Casada' or $dadosP['estado_civil'] === 'Casado'"}
				  			<option value="Casada" selected>Casada</option>
				  		{else}
				  			<option value="Casada">Casada</option>
				  		{/if}
				  		{if="$dadosP['estado_civil'] === 'Viuva' or $dadosP['estado_civil'] === 'Viuvo'"}
				  			<option value="Viuva" selected>Viuva</option>
				  		{else}
				  			<option value="Viuva">Viuva</option>
				  		{/if}
				  	</select>
			  	{/if}
			 </div>
		  	<br class="clear">
		  	<br class="clear">
		  <button type="submit" class="btn btn-primary">Alterar</button>
		</form>
	</div>
	{else}

	<div class="cad-dados-pessoas">
		<form role="form" action="/dados-pessoais" method="post">
		  	<div class="form-group">
			    <label for="nomepessoa">Nome</label>
			    <input type="text" class="form-control" id="nomepessoa" name="nomepessoa" required autofocus>
		  	</div>
		  	<div class="form-group">
			    <label for="sobrenomepessoa">Sobrenome</label>
			    <input type="text" class="form-control" id="sobrenomepessoa" name="sobrenomepessoa" required>
		  	</div>
		  	<div class="form-check">
	  			<input class="form-check-input" type="radio" name="sexopessoa" id="sexopessoa" value="M">
		  	<label class="form-check-label" for="exampleRadios1">
		    	Masculino
		  	</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="sexopessoa" id="sexopessoa" value="F">
				<label class="form-check-label" for="exampleRadios2">
		    		Feminino
		  		</label>
			</div>
		  	<div class="form-group">
			    <label for="datanascimentopessoa">Data de nascimentos</label>
			    <input type="date" class="form-control" id="datanascimentopessoa" name="datanascimentopessoa" required>
		  	</div>

		  	<div class="form-group">
			    <label for="estado_civil">Estado civil</label>

		  		<br class="clear">

			  	<select name="estado_civil" id="estado_civil" required>
			  		<option value="">Selecione</option>
			  		<option value="Solteiro">SOLTEIRO(A)</option>
			  		<option value="Casado">CASADO(A)</option>
			  		<option value="Viuvo">VIUVO(A)</option>
			  	</select>
			  </div>
		  
		  	<br class="clear">
		  	<br class="clear">
		  <button type="submit" class="btn btn-primary">Salvar</button>
		  <!-- <a class="btn btn-primary" href="/cadastro" role="button">Cadastre-se</a> -->
		  <!-- <a class="btn btn-secondary btn-lg" href="/cadastro" role="button">Esqueceu a senha</a> -->
		</form>
	</div>
	{/if}
</div>