<div class="wrapper">
	<div class="bread">
		<div class="breadCrumb">
			<span> <i class="fa fa-home"></i> <a rel="nofollow" href="/criar-curriculo" title="Criar currículo"><p>Criar currículo</p></a> <i class="fa fa-angle-double-right"></i> <p>Habilidades</p></span>
		</div>
		<div class="bread-title">
			<h1>Habilidades</h1>
		</div>
	</div>
	<br class="clear">
	<br class="clear">

	{if="$mensagemErrohabilidade != ''"}
		<script>
			swal({
				title: "{$mensagemErrohabilidade}",
			  	text: '',
			  	icon: "success",
			});
		</script>
	{/if}

	{if="$mensagemSucessohabilidade != ''"}
		<script>
			swal({
				title: "{$mensagemSucessohabilidade}",
			  	text: '',
			  	icon: "success",
			});
		</script>
	{/if}


	<br class="clear">
	<br class="clear">
	
	<div class="cad-dados-pessoas">
		<form role="form" action="/habilidades" method="post">
		  	<div class="form-group">
			    <label for="habilidade">Habilidades</label>
			    <input type="text" class="form-control" id="habilidade" name="habilidade">
		  	</div>
		  	<!-- <div class="form-group">
			    <label for="tb_habilidadescol">Nascionalidade</label>
			    <input type="text" class="form-control" id="tb_habilidadescol" name="tb_habilidadescol">
		  	</div> -->

		  	<button type="submit" class="btn btn-primary">Salvar</button>
		</form>

		<br class="clear">
		<br class="clear">
		<br class="clear">
				<div class="min-hab">
		{if="$habili['id_pessoa'] == $idPessoa && $habili !== NULL"}
			{loop="$my_habili"}
					<div class="habilidade-item">
						<p>{$value.habilidade}</p>

						<a rel="nofollow" href="/habilidade/{$value.id_habilidades}/alterar" class="alterar" title="Alterar Habilidades"><i class="fa fa-edit"></i></a>

						<a rel="nofollow" href="/habilidade/{$value.id_habilidades}/excluir" class="excluir" title="Alterar Habilidades"><i class="fa fa-window-close"></i></a>

					</div>
			{/loop}
		{/if}
				</div>
	</div>
</div>