<div class="wrapper">
	<div class="bread">
		<div class="breadCrumb">
			<span> <i class="fa fa-home"></i> <a rel="nofollow" href="/criar-curriculo" title="Criar currículo"><p>Criar currículo</p></a> <i class="fa fa-angle-double-right"></i> <p>Nascionalidade</p></span>
		</div>
		<div class="bread-title">
			<h1>Nascionalidade</h1>
		</div>
	</div>
	<br class="clear">
	<br class="clear">



	{if="$mensagemErroNascionalidade != ''"}
		<script>
			swal({
				title: "{$mensagemErroNascionalidade}",
			  	text: '',
			  	icon: "error",
			});
		</script>
	{/if}


	<br class="clear">
	<br class="clear">

	
	{if="$nasc['id_pessoa'] == $idPessoa && $nasc !== NULL"}
	<div class="cad-dados-pessoas">
		<form role="form" action="/nascionalidade-up" method="post">
		  	<div class="form-group">
			    <label for="nascionalidade">Nascionalidade</label>
			    <input type="text" class="form-control" value="{$nasc.nascionalidade}" id="nascionalidade" name="nascionalidade" required autofocus>
		  	</div>
		  	
		  	<button type="submit" class="btn btn-primary">Salvar</button>
		</form>
	</div>
	{else}
							
	<div class="cad-dados-pessoas">
		<form role="form" action="/nascionalidade" method="post">
		  	<div class="form-group">
			    <label for="nascionalidade">Nascionalidade</label>
			    <input type="text" class="form-control" value="{$nasc.nascionalidade}" id="nascionalidade" name="nascionalidade" required autofocus>
		  	</div>

		  	<button type="submit" class="btn btn-primary">Salvar</button>
		</form>
	</div>
	{/if}
</div>