	{if="$nasc['id_pessoa'] == $idPessoa && $nasc !== NULL"}
<div class="cad-dados-pessoas">
	<form role="form" action="/nascionalidade-up" method="post">
	  	<div class="form-group">
		    <label for="nascionalidade">Nascionalidade</label>
		    <input type="text" class="form-control" value="{$nasc.nascionalidade}" id="nascionalidade" name="nascionalidade">
	  	</div>
	  	
	  	<button type="submit" class="btn btn-primary">Salvar</button>
	</form>
</div>
{else}
						
<div class="cad-dados-pessoas">
	<form role="form" action="/nascionalidade" method="post">
	  	<div class="form-group">
		    <label for="nascionalidade">Nascionalidade</label>
		    <input type="text" class="form-control" value="{$nasc.nascionalidade}" id="nascionalidade" name="nascionalidade">
	  	</div>

	  	<button type="submit" class="btn btn-primary">Salvar</button>
	</form>
</div>
{/if}