{include="topo-inicio"}



	<div class="cad-cadastro">
		<form role="form" action="/recuperar-senha" method="post">
		  <div class="form-group">
		    <label for="emailusuario">Nova senha</label>
		    <input type="email" class="form-control" id="emailusuario" name="emailusuario" autofocus required>
		  </div>

		  <div class="form-group">
		    <label for="emailusuario">Confirmar senha</label>
		    <input type="email" class="form-control" id="emailusuario" name="emailusuario" autofocus required>
		  </div>
		  
		  <button type="submit" id="btn-cadastrar" class="btn-login-1">Salvar</button>
		</form>
	</div>

	<footer>
		<script src="res/bootstrap/js/bootstrap.min.js"></script>
		<script src="res/js/script.js"></script>
		
		<script src="res/js/jquery.js"></script>
		

	</footer>
</body>
</html>