{include="topo-inicio-2"}

	{if="$corrigirSenha != ''"}
		<script>
			swal({
				title: "{$corrigirSenha}",
			  	text: '',
			  	icon: "error",
			});
		</script>
	{/if}

	<div class="cad-cadastro">
		<form role="form" action="/recuperar-senha" method="post">
                    <input type="hidden" name="code" value="{$code}">
		  <div class="form-group">
		    <label for="senhausuario">Nova senha</label>
		    <input type="password" class="form-control" id="senhausuario" name="senhausuario" autofocus required>
		  </div>

		  <div class="form-group">
		    <label for="confirma_senhausuario">Confirmar senha</label>
		    <input type="password" class="form-control" id="confirma_senhausuario" name="confirma_senhausuario" required>
		  </div>
		  
		  <button type="submit" id="btn-cadastrar" class="btn-login-1">Salvar</button>
		</form>
	</div>

{include="footer-inicio"}