<div class="wrapper">
	<div class="bread">
		<div class="breadCrumb">
			<span> <i class="fa fa-home"></i> <a rel="nofollow" href="/criar-curriculo" title="Criar currículo">Criar currículo</a> <i class="fa fa-angle-double-right"></i> <span class="title-page">Telefone</span></span>
		</div>
		<div class="bread-title">
			<h1>Telefone</h1>
		</div>
	</div>
	<br class="clear">
	<br class="clear">

	{if="$mensagemErroDDD != ''"}
		<script>
			swal({
				title: "{$mensagemErroDDD}",
			  	text: '',
			  	icon: "error",
			});
		</script>
	{/if}

	{if="$mensagemErroNumeroTelefone != ''"}
		<script>
			swal({
				title: "{$mensagemErroNumeroTelefone}",
			  	text: '',
			  	icon: "error",
			});
		</script>
	{/if}


	<br class="clear">
	<br class="clear">

	{if="$telefone['id_pessoa'] == $idPessoa && $telefone !== NULL"}
	<div class="cad-dados-pessoas">
		<form action="/telefone-up" method="post">
		  	<div class="form-group">
			    <label for="ddd_fone">DDD</label>
			    <input type="text" class="form-control" value="{$telefone.ddd_fone}" id="ddd_fone" name="ddd_fone" required autofocus>
		  	</div>
		  	<div class="form-group">
			    <label for="numero_fone">Celular ou Telefone </label>
			    <input type="text" class="form-control" value="{$telefone.numero_fone}" id="numero_fone" name="numero_fone" required >
		  	</div>
		  	<!-- <div class="form-group">
			    <label for="numero_fone">Celular ou Telefone (com ddd)</label>
			    <input type="text" class="form-control" value="{$telefone.numero_fone}" id="numero_fone" name="numero_fone" onblur="mascaraDeTelefone(this)" 
	          placeholder="9999-9999 ou 9999-99999" 
	          onfocus="tiraHifen(this)">
		  	</div> -->
		  	
		  	<button type="submit" class="btn btn-primary">Salvar</button>
		</form>
	</div>
	{else}
							
	<div class="cad-dados-pessoas">
		<form action="/telefone" method="post">
		  	<div class="form-group">
			    <label for="ddd_fone">DDD</label>
			    <input type="text" class="form-control" value="{$telefone.ddd_fone}" id="ddd_fone" name="ddd_fone" required autofocus>
		  	</div>
		  	<div class="form-group">
			    <label for="numero_fone">Celular ou Telefone</label>
			    <input type="text" class="form-control" value="{$telefone.numero_fone}" id="numero_fone" name="numero_fone" required>
		  	</div>
		  	<!-- <div class="form-group">
			    <label for="numero_fone">Celular ou Telefone (com ddd)</label>
			    <input type="text" class="form-control" value="{$telefone.numero_fone}" id="numero_fone" name="numero_fone" onblur="mascaraDeTelefone(this)" 
	          placeholder="9999-9999 ou 9999-99999" 
	          >
		  	</div> -->

		  	<button type="submit" class="btn btn-primary">Salvar</button>
		</form>
	</div>
	{/if}
</div>